[Unit]
Description=Start caffeine-indcator on X
After=default.target

[Service]
Type=simple
ExecStart=/usr/local/bin/caffeine-indicatorstartup
Restart=on-failure
Environment=DISPLAY=:0
Environment=XAUTHORITY=/home/klein/.Xauthority

[Install]
WantedBy=default.target
