[Unit]
Description=Picom Startup on X display :0
After=default.target

[Service]
Type=simple
ExecStart=/usr/local/bin/picomstartup
Restart=on-failure
Environment=DISPLAY=:0
Environment=XAUTHORITY=/home/klein/.Xauthority

[Install]
WantedBy=default.target
